<h1>Photogur </h1>
<h2>Pictures Ordered by Date of Upload </h2>

<%= link_to "New Picture", "/pictures/new" %>
<%= link_to "Sort by Title", "/pictures/sort_by_title"%>


<% @pictures.each do |picture| %>
  <p><%= picture[:title] %>, <%= picture[:artist] %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>